# Logs
logs
*.log
npm-debug.log*

# Dependências
node_modules/
.npm

# Arquivos do sistema
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
dist/
build/
.next/
out/

# Vercel
.vercel

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Outros
*.tmp
*.temp
.cache/ 